torch==2.6.0                
torchvision==0.21.0 
torchaudio==2.6.0           
transformers==4.52.4
facenet-pytorch==2.6.0      

numba==0.59.0
llvmlite==0.42.0
onnxruntime==1.17.1

streamlit==1.45.1
streamlit-webrtc==0.62.4
streamlit-drawable-canvas==0.9.3

numpy==1.26.4
pandas==2.3.0
scipy==1.15.3
scikit-learn==1.7.0

opencv-python==4.11.0.86
scikit-image==0.25.2
Pillow==10.2.0              

pydub==0.25.1
SpeechRecognition==3.14.3
soundfile==0.13.1
sounddevice==0.5.2

tqdm==4.67.1
requests==2.32.4
urllib3==2.4.0
packaging==24.2
typing_extensions==4.14.0

datasets==3.6.0
tokenizers==0.21.1
safetensors==0.5.3
huggingface-hub==0.33.0

absl-py==2.3.0
aiohttp==3.12.12
aiortc==1.13.0
altair==5.5.0
Flask==3.1.1
matplotlib==3.10.3
seaborn==0.13.2
protobuf==6.31.1
pyyaml==6.0.2